@import 'fonts';
@import 'libs';
@import 'vars';
@import 'fonts';

html,
body,
ul,
li, h1, h2, h3, h4, h5, h5, p {
    margin: 0;
    padding: 0;

    &::after {
        margin: 0;
        padding: 0;
    }

    &::before {
        margin: 0;
        padding: 0;
    }
}

a {
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
}

@import 'media';